<a href="https://colab.research.google.com/github/chenyilow/cyl68_ads_2024/blob/main/_notebooks/ads_course_assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assessment for Advanced Data Science
# *Data Pipelines*

## Radzim Sendyka, Christian Cabrera, Carl Henrik Ek and Neil D. Lawrence

### 19 November 2024

Welcome to the course assessment for the Advanced Data Science unit. In this assessment, you will build two data pipelines and prediction systems.

The maximum total mark for this assessment is 20. That mark is split into two miniprojects below.
- The first miniproject is worth 7 marks.
- The second miniproject is worth 13 marks.

*The check Session for this Assessment is 03 December 2024.*

# Task 1 (7 marks)

This example project builds on your experience from the practicals, using Open Street Maps, and connecting them to real-world datasets.

Your prediction system will be based on data from the 2021 UK Census, and Open Street Maps.

### Build a data pipeline and prediction system.

Structure your system around the [Access-Assess-Address](https://inverseprobability.com/talks/notes/access-assess-address-a-pipeline-for-automated-data-science.html) framework for automated data science.
Use the framework of [Data Readiness Levels](https://inverseprobability.com/publications/data-readiness-levels.html) to track the state of your datasets throughout the process.
Visualise your data and predictions using appropriate charts and graphics.
Remember, your notebook should tell a story.

1.1. Download the data from online sources. In this task you will need:
  - UK Census Data
    - The UK Census data file for and Socio-economic Classification (NS SEC) [here](https://www.ons.gov.uk/datasets/TS062/editions/2021/versions/5) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk). Use the most detailed area type (Output Areas).
    - One other UK Census data file of your choosing [here](https://www.ons.gov.uk/search?topics=9731,6646,3845,9497,4262,4128,7755,4994,6885,9724,7367&filter=datasets) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk). Use the most detailed area type available.
    - Geographic coordinates of Census Output Areas [here](https://www.data.gov.uk/dataset/4d4e021d-fe98-4a0e-88e2-3ead84538537/output-areas-december-2021-boundaries-ew-bgc-v2).
  - Spatial data
    - Set up an API connection to Open Street Maps [here](https://osmnx.readthedocs.io/en/stable/). Optionally, to be able to use more data in training, you might want to also download the entire map for England (or more) [here](https://download.openstreetmap.fr/extracts/) or [here](https://wiki.openstreetmap.org/wiki/Planet.osm).

1.2. Structure the data, and upload it to your AWS database.

- Census datasets can be huge and unwieldy to manipulate directly in python frameworks such as pandas. As a result we will host the data in a relational database.

- Using a cloud hosted database (such as MariaDB hosted on the AWS RDS service),  you will construct a database containing tables that contain per-output-area data, latitudes and longitudes of the output areas, and potentially, extracted selected open street maps features from the country-wide data file.

- Make sure you set the correct indices on your data, which will allow your code to run much faster. Hint: create an index on any columns you will be looking up, and joint indices if your lookup involves multiple columns (like coordinates).

You will likely find the following resources helpful.

- Lecture 1, 2 and 3.
- Lab class 1 and 2.


- *Note, this particular dataset could probably be handled directly in pandas, but you are explicitly tasked with using a database. This is a compromise from previous iterations of this course, where students spent quite a lot of time struggling from the size of the data. This is an opportunity for you to demonstrate your skills, as well as prepare for the second part of the assessment where databases might be necessary. Approach that do not use databases where needed will be penalised during marking.*


2.0. Explore the data.

  - To make predictions you will augment your data with information obtained from Open Street Map: an open license source of mapping information. You will need to use the techniques you have learnt in the course to indentify and incorporate useful features for your prediction tasks.
  - Look at the percentage of students (NS SEC code L15) in the individual output areas, and explore how it's related to various types of open street map features in those locations. Use the relationships you found to suggest the features to be used in a system that predicts percentage of students in a given area.
  - Do the same for an additional census variable (e.g., the average age in a given area).

3.0. Make a prediction system.
- Use Open Street Maps to predict Socio-Economic Status - in particular, the percent of full time students, from OSM features. Your function should take as input a coordinate pair (you can assume it will be in England), and return an estimate for the share of students in that area.

- Do the same for the additional census variable you selected in the previous step.

Hints:

  - *Some of the census data sheets are very detailed. You might want to try "boiling them down" to some aggregate value or selecting just the most important columns.*

  - *This assignment is focused on data pipelines, rather than machine learning, so we do not expect any advanced architectures here - a linear model or similar is perfectly fine.*
  
  - *For data exploration, or picking your second dataset, you may find useful the [interactive map](https://www.ons.gov.uk/census/maps/) of the census data.*

### Story.

- Remember the notebook you create should tell a story, any code that is not critical to that story can safely be placed into the associated analysis library and imported for use (structured as given in the Fynesse template). Make sure your decisions are well substanciated and flow nicely throughout the notebook, with clear explanations.

- Explain everything you do. Why is your question important, why you selected the datasets you did, why did you join them how you did, why did you look at the things you looked at.

Make sure in your notebook you discuss the design decisions you made in your pipeline and prediction system. How did you structure your notebook? How did you track data readiness? Which aspects of your system could be improved further?

Make sure you compare how you predict student population and your second chosen property. What differences are there, in the underlying data, process, and results?

Make sure you discuss the reusability of your data pipeline and prediction system. What changes to the underlying data/system is it resilient to, and what isn't it? What work would need to be done to adjust it to answer questions about other statistics, or a different country, instead?

### Fynesse library.

- Alongside your implementation you will provide a short repository overview describing how you have implemented the different parts of the project and where you have placed those parts in your code repository. You will submit your code alongside a version of this notebook that will allow your examiner to understand and reconstruct the thinking behind your analysis. This notebook is structured to help you in creating that description and allow you to understand how we will allocate the marks. You should make use of the Fynesse framework (https://github.com/lawrennd/fynesse_template) for structuring your code.

- One artefact to be included in your submission is a python library structured according to the "Access, Assess, Address" standard for data science solutions. You will submit this library alongside your code. Use the cell below to perform the necessary installation instructions for your library.
You should base your module on the template repository given by the Fynesse template repository. That should make it pip-installable as below.
`%pip install git+https://github.com/lawrennd/fynesse_template.git`. You can either replace fynesse with the name you've given your analysis module or you can leave the name as fynesse if you prefer.

- Remember the notebook you create should tell a story, any code that is not critical to that story can safely be placed into the associated analysis library and imported for use (structured as given in the Fynesse template). Remember to include you fynesse library in your submission.

## Access

###1.1

We will first download UK Census Data for
1. TS062: National Statistics Socio-economic Classification,
2. TS037: General Health,
3. Geographic Coordinates of Census Output Areas,

and OSM data for
4. Open Street Maps API Connection,
5. Map of England.

First, let us install and import the required libraries.

In [3]:
# install your library here
# %pip install git+https://github.com/lawrennd/fynesse_template.git # TODO: change to your library
%pip install osmnx

Requirement already satisfied: osmnx in /usr/local/lib/python3.10/dist-packages (2.0.0)
Requirement already satisfied: geopandas>=1.0 in /usr/local/lib/python3.10/dist-packages (from osmnx) (1.0.1)
Requirement already satisfied: networkx>=2.5 in /usr/local/lib/python3.10/dist-packages (from osmnx) (3.4.2)
Requirement already satisfied: numpy>=1.22 in /usr/local/lib/python3.10/dist-packages (from osmnx) (1.26.4)
Requirement already satisfied: pandas>=1.4 in /usr/local/lib/python3.10/dist-packages (from osmnx) (2.2.2)
Requirement already satisfied: requests>=2.27 in /usr/local/lib/python3.10/dist-packages (from osmnx) (2.32.3)
Requirement already satisfied: shapely>=2.0 in /usr/local/lib/python3.10/dist-packages (from osmnx) (2.0.6)
Requirement already satisfied: pyogrio>=0.7.2 in /usr/local/lib/python3.10/dist-packages (from geopandas>=1.0->osmnx) (0.10.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from geopandas>=1.0->osmnx) (24.2)
Requirement already satisfied: pyproj>=3.3.0 in /usr/local/lib/python3.10/dist-packages (from geopandas>=1.0->osmnx) (3.7.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.4->osmnx) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.4->osmnx) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.4->osmnx) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.27->osmnx) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.27->osmnx) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.27->osmnx) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.27->osmnx) (2024.8.30)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.4->osmnx) (1.16.0)

In [4]:
%pip install pymysql
%pip uninstall --yes fynesse
%pip install git+https://github.com/chenyilow/cyl68_ads_2024.git

Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.1)
Found existing installation: fynesse 0.1.0
Uninstalling fynesse-0.1.0:
  Successfully uninstalled fynesse-0.1.0
Collecting git+https://github.com/chenyilow/cyl68_ads_2024.git
  Cloning https://github.com/chenyilow/cyl68_ads_2024.git to /tmp/pip-req-build-vvw3cdxa
  Running command git clone --filter=blob:none --quiet https://github.com/chenyilow/cyl68_ads_2024.git /tmp/pip-req-build-vvw3cdxa
  Resolved https://github.com/chenyilow/cyl68_ads_2024.git to commit 366a566677f22107048f0bd39a29512e2aff4814
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (1.26.4)
Requirement already satisfied: jupyter in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (1.1.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from fynesse==0.1.0) (3.8.0)
Requirement already satisfied: notebook in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (6.5.5)
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (6.1.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (7.16.4)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (6.29.5)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (7.7.1)
Requirement already satisfied: jupyterlab in /usr/local/lib/python3.10/dist-packages (from jupyter->fynesse==0.1.0) (4.3.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (4.55.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->fynesse==0.1.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->fynesse==0.1.0) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->fynesse==0.1.0) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->fynesse==0.1.0) (1.16.0)
Requirement already satisfied: comm>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (0.2.2)
Requirement already satisfied: debugpy>=1.6.5 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (1.8.0)
Requirement already satisfied: ipython>=7.23.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (7.34.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (7.4.9)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (0.1.7)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (1.6.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.9.5)
Requirement already satisfied: pyzmq>=24 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (24.0.1)
Requirement already satisfied: tornado>=6.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (6.3.3)
Requirement already satisfied: traitlets>=5.4.0 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.7.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->jupyter->fynesse==0.1.0) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->jupyter->fynesse==0.1.0) (3.6.10)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets->jupyter->fynesse==0.1.0) (3.0.13)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-console->jupyter->fynesse==0.1.0) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from jupyter-console->jupyter->fynesse==0.1.0) (2.18.0)
Requirement already satisfied: async-lru>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.0.4)
Requirement already satisfied: httpx>=0.25.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (0.27.2)
Requirement already satisfied: jinja2>=3.0.3 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (3.1.4)
Requirement already satisfied: jupyter-lsp>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.2.5)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.14.2)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.27.3)
Requirement already satisfied: notebook-shim>=0.2 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (0.2.4)
Requirement already satisfied: setuptools>=40.1.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (75.1.0)
Requirement already satisfied: tomli>=1.2.2 in /usr/local/lib/python3.10/dist-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.1.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (6.2.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.3.0)
Requirement already satisfied: markupsafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (3.0.2)
Requirement already satisfied: mistune<4,>=2.0.3 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (3.0.2)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.10.0)
Requirement already satisfied: nbformat>=5.7 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (5.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (1.5.1)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->jupyter->fynesse==0.1.0) (1.4.0)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (23.1.0)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (0.18.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (0.21.0)
Requirement already satisfied: nbclassic>=0.4.7 in /usr/local/lib/python3.10/dist-packages (from notebook->jupyter->fynesse==0.1.0) (1.1.0)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from async-lru>=1.0.0->jupyterlab->jupyter->fynesse==0.1.0) (4.12.2)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach!=5.0.0->nbconvert->jupyter->fynesse==0.1.0) (0.5.1)
Requirement already satisfied: anyio in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (3.7.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (2024.8.30)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.0.7)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (3.10)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/dist-packages (from httpcore==1.*->httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (0.14.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (4.9.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.10/dist-packages (from jupyter-client>=6.1.12->ipykernel->jupyter->fynesse==0.1.0) (0.4)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter->fynesse==0.1.0) (4.3.6)
Requirement already satisfied: jupyter-events>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.10.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.5.3)
Requirement already satisfied: overrides>=5.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (7.7.0)
Requirement already satisfied: websocket-client>=1.7 in /usr/local/lib/python3.10/dist-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.8.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.10/dist-packages (from argon2-cffi->notebook->jupyter->fynesse==0.1.0) (21.2.0)
Requirement already satisfied: babel>=2.10 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.16.0)
Requirement already satisfied: json5>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.10.0)
Requirement already satisfied: jsonschema>=4.18.0 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (4.23.0)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.10/dist-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.32.3)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.10/dist-packages (from nbformat>=5.7->nbconvert->jupyter->fynesse==0.1.0) (2.20.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->jupyter-console->jupyter->fynesse==0.1.0) (0.2.13)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.10/dist-packages (from terminado>=0.8.3->notebook->jupyter->fynesse==0.1.0) (0.7.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->nbconvert->jupyter->fynesse==0.1.0) (2.6)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio->httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.2.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.8.4)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.21.0)
Requirement already satisfied: python-json-logger>=2.0.4 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (6.0.2)
Requirement already satisfied: rfc3339-validator in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (3.4.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.2.3)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook->jupyter->fynesse==0.1.0) (1.17.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook->jupyter->fynesse==0.1.0) (2.22)
Requirement already satisfied: fqdn in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.5.1)
Requirement already satisfied: isoduration in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (3.0.0)
Requirement already satisfied: uri-template in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.3.0)
Requirement already satisfied: webcolors>=24.6.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (24.11.1)
Requirement already satisfied: arrow>=0.15.0 in /usr/local/lib/python3.10/dist-packages (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.3.0)
Requirement already satisfied: types-python-dateutil>=2.8.10 in /usr/local/lib/python3.10/dist-packages (from arrow>=0.15.0->isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (2.9.0.20241003)
Building wheels for collected packages: fynesse
  Building wheel for fynesse (setup.py) ... done
  Created wheel for fynesse: filename=fynesse-0.1.0-py3-none-any.whl size=9253 sha256=08fdae69f3bb679ff04fece705213e416068dd7b2e981cdac28ddb1281976cb5
  Stored in directory: /tmp/pip-ephem-wheel-cache-i4e8qg3s/wheels/b1/37/a1/82ff50d7504da47ae790f79d9d0fc4ba1772f938d6d4c7d7ff
Successfully built fynesse
Installing collected packages: fynesse
Successfully installed fynesse-0.1.0

In [5]:
import pandas as pd
import numpy as np
import osmnx as ox
# TODO: more imports here
import fynesse
import os
import requests

### 1.1.1 TS062: National Statistics Socio-economic Classification

The following datasets are all retrieved using the Fynesse library, from the Access component. This is because all the downloads here have been done in previous practicals, and it is meaningless to repeat the code. Moreover, the functions in the Fynesse library allow us to specify which datasets we want (e.g. TS062 or TS037).

In [4]:
# Your code here

fileName = "TS062"
fynesse.access.download_census_data(fileName) # Age by single year of age
age_df = fynesse.access.load_census_data(fileName, level='oa')
age_df

Files extracted to: census2021-ts062

,date,geography,geography code,National Statistics Socio-economic Classification (NS-SEC): Total: All usual residents aged 16 years and over,"National Statistics Socio-economic Classification (NS-SEC): L1, L2 and L3 Higher managerial, administrative and professional occupations","National Statistics Socio-economic Classification (NS-SEC): L4, L5 and L6 Lower managerial, administrative and professional occupations",National Statistics Socio-economic Classification (NS-SEC): L7 Intermediate occupations,National Statistics Socio-economic Classification (NS-SEC): L8 and L9 Small employers and own account workers,National Statistics Socio-economic Classification (NS-SEC): L10 and L11 Lower supervisory and technical occupations,National Statistics Socio-economic Classification (NS-SEC): L12 Semi-routine occupations,National Statistics Socio-economic Classification (NS-SEC): L13 Routine occupations,National Statistics Socio-economic Classification (NS-SEC): L14.1 and L14.2 Never worked and long-term unemployed,National Statistics Socio-economic Classification (NS-SEC): L15 Full-time students
0,2021,E00000001,E00000001,159,80,38,13,9,3,5,5,4,2
1,2021,E00000003,E00000003,222,96,58,8,26,2,5,2,5,20
2,2021,E00000005,E00000005,103,37,28,8,21,0,3,1,1,4
3,2021,E00000007,E00000007,140,62,39,5,11,3,3,1,6,10
4,2021,E00000010,E00000010,170,34,45,17,27,7,10,14,11,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188875,2021,W00010693,W00010693,737,2,8,5,8,7,9,14,2,682
188876,2021,W00010694,W00010694,304,35,87,40,31,23,26,33,7,22
188877,2021,W00010695,W00010695,154,12,44,22,15,12,15,17,11,6
188878,2021,W00010696,W00010696,176,32,55,26,14,9,13,12,7,8
188879,2021,W00010697,W00010697,215,16,59,40,21,10,30,27,4,8

This DataFrame raised my suspicion -- `geography` and `geography code` appears to be the same data. We can do a simple test to find rows that have different `geography` and `geography code`s:

In [5]:
age_df[age_df["geography"] != age_df["geography code"]]

Empty DataFrame
Columns: [date, geography, geography code, National Statistics Socio-economic Classification (NS-SEC): Total: All usual residents aged 16 years and over, National Statistics Socio-economic Classification (NS-SEC): L1, L2 and L3 Higher managerial, administrative and professional occupations, National Statistics Socio-economic Classification (NS-SEC): L4, L5 and L6 Lower managerial, administrative and professional occupations, National Statistics Socio-economic Classification (NS-SEC): L7 Intermediate occupations, National Statistics Socio-economic Classification (NS-SEC): L8 and L9 Small employers and own account workers, National Statistics Socio-economic Classification (NS-SEC): L10 and L11 Lower supervisory and technical occupations, National Statistics Socio-economic Classification (NS-SEC): L12 Semi-routine occupations, National Statistics Socio-economic Classification (NS-SEC): L13 Routine occupations, National Statistics Socio-economic Classification (NS-SEC): L14.1 and L14.2 Never worked and long-term unemployed, National Statistics Socio-economic Classification (NS-SEC): L15 Full-time students]
Index: []

This confirmed they are basically the same value for every single row, so we will exclude that in our uploading to the AWS database later on. Note that we still include every other column because we do not want to waste our Access efforts -- we might require the data later on in the project. For now, we will save the table in a .csv file so we can store it in the AWS database.

In [6]:
age_df = age_df.drop(columns=['geography'])
age_df.to_csv("age.csv", header=None, index=False)

### 1.1.2 TS037: General Health

We repeat the process for another Census Data:
1. check that the `geography` and `geography code` columns are exactly the same, and remove if they are,
2. convert them to a .csv file.

In [7]:
# Your code here

fileName = "TS037"
fynesse.access.download_census_data(fileName) # Age by single year of age
health_df = fynesse.access.load_census_data(fileName, level='oa')
health_df.to_csv("health.csv", header=None, index=False)
health_df

Files extracted to: census2021-ts037

,date,geography,geography code,General health: Total: All usual residents,General health: Very good health,General health: Good health,General health: Fair health,General health: Bad health,General health: Very bad health
0,2021,E00000001,E00000001,175,98,49,26,2,0
1,2021,E00000003,E00000003,256,146,92,15,1,2
2,2021,E00000005,E00000005,112,62,39,8,3,0
3,2021,E00000007,E00000007,144,94,40,6,3,1
4,2021,E00000010,E00000010,174,73,74,21,6,0
...,...,...,...,...,...,...,...,...,...
188875,2021,W00010693,W00010693,740,352,302,70,16,0
188876,2021,W00010694,W00010694,404,241,114,38,8,3
188877,2021,W00010695,W00010695,194,107,47,26,13,1
188878,2021,W00010696,W00010696,232,148,60,16,6,2
188879,2021,W00010697,W00010697,266,152,91,18,4,1

In [8]:
health_df[health_df["geography"] != health_df["geography code"]]

Empty DataFrame
Columns: [date, geography, geography code, General health: Total: All usual residents, General health: Very good health, General health: Good health, General health: Fair health, General health: Bad health, General health: Very bad health]
Index: []

In [9]:
health_df = health_df.drop(columns=['geography'])
health_df.to_csv("health.csv", header=None, index=False)

###1.1.3 Geographic Coordinates of Census Output Areas

Note that below, since `OA21CD` represents the unique code for each Output Area, it is likely we will be joining this with the Census data above later.

In [10]:
fynesse.access.download_census_coord_data()
census_coord_df = fynesse.access.load_census_coord_data()
census_coord_df.to_csv("census_coord.csv", header=None, index=False)
census_coord_df

File downloaded and saved to: census_coord.csv

Empty DataFrame
Columns: [{"message":"Up to date download file is being generated. Please check back again later.", status:"Pending", created:"2024-11-29T17:13:33.900Z", modified:"2024-11-29T17:13:33.900Z"}]
Index: []

### 1.1.4 Open Street Maps API Connection

This is a similar exercise to Practical 2, so we just import the function we have already saved to our Fynesse library.

In [11]:
tags = {
    "amenity": True,
    "buildings": True,
    "historic": True,
    "leisure": True,
    "shop": True,
    "tourism": True,
    "religion": True,
    "memorial": True
}

osmnx_df = fynesse.access.download_osmnx_data(52.1951, 0.1313, tags) #Cambridge coordinates
osmnx_df.to_csv("osmnx.csv", header=None, index=False)
osmnx_df

                                                             geometry  \
element id
node    20823646                             POINT (0.12613 52.20262)
        20823709                             POINT (0.13055 52.20086)
        20823843                             POINT (0.13038 52.20478)
        20826694                             POINT (0.13919 52.20238)
        20826702                             POINT (0.13885 52.19961)
...                                                               ...
way     1337666662  POLYGON ((0.13464 52.1874, 0.13528 52.18621, 0...
        1337672054  POLYGON ((0.13089 52.18904, 0.1313 52.18913, 0...
        1337674625  POLYGON ((0.12259 52.19495, 0.12261 52.19492, ...
        1337820723  POLYGON ((0.13817 52.19348, 0.13844 52.1934, 0...
        1337820726  POLYGON ((0.13802 52.19357, 0.13809 52.19355, ...

                    addr:city addr:postcode    addr:street   alt_name  \
element id
node    20823646    Cambridge       CB1 1JH   Park Terrace  Baan Thai
        20823709          NaN           NaN            NaN        NaN
        20823843    Cambridge       CB1 1DU   Prospect Row        NaN
        20826694    Cambridge       CB1 2LG  Gwydir Street        NaN
        20826702          NaN           NaN            NaN        NaN
...                       ...           ...            ...        ...
way     1337666662        NaN           NaN            NaN        NaN
        1337672054        NaN           NaN            NaN        NaN
        1337674625        NaN           NaN            NaN        NaN
        1337820723        NaN           NaN            NaN        NaN
        1337820726        NaN           NaN            NaN        NaN

                       amenity cuisine  \
element id
node    20823646    restaurant    thai
        20823709       parking     NaN
        20823843           pub     NaN
        20826694           pub     NaN
        20826702     recycling     NaN
...                        ...     ...
way     1337666662  university     NaN
        1337672054  university     NaN
        1337674625  university     NaN
        1337820723     parking     NaN
        1337820726     parking     NaN

                                                                 name  \
element id
node    20823646                     Baan Thai Street Food Restaurant
        20823709                                   Queen Anne Terrace
        20823843                                       The Free Press
        20826694                                       Cambridge Blue
        20826702                                                  NaN
...                                                               ...
way     1337666662                  Hills Road Sports & Tennis Centre
        1337672054  Cambridge University Cambridge University Pres...
        1337674625            University of Cambridge Botanic Gardens
        1337820723                                                NaN
        1337820726                                                NaN

                                        opening_hours         phone  ...  \
element id                                                           ...
node    20823646                          12:00-21:00  01223 300891  ...
        20823709                                  NaN           NaN  ...
        20823843    Tu-Sa 12:00-23:00; Su 12:00-21:00           NaN  ...
        20826694                                  NaN           NaN  ...
        20826702                                  NaN           NaN  ...
...                                               ...           ...  ...
way     1337666662                                NaN           NaN  ...
        1337672054                                NaN           NaN  ...
        1337674625                                NaN           NaN  ...
        1337820723                                NaN           NaN  ...
        1337820726                                NaN           NaN  ...

                   natural emergency house locked building:part  \
element id
node    20823646       NaN       NaN   NaN    NaN           NaN
        20823709       NaN       NaN   NaN    NaN           NaN
        20823843       NaN       NaN   NaN    NaN           NaN
        20826694       NaN       NaN   NaN    NaN           NaN
        20826702       NaN       NaN   NaN    NaN           NaN
...                    ...       ...   ...    ...           ...
way     1337666662     NaN       NaN   NaN    NaN           NaN
        1337672054     NaN       NaN   NaN    NaN           NaN
        1337674625     NaN       NaN   NaN    NaN           NaN
        1337820723     NaN       NaN   NaN    NaN           NaN
        1337820726     NaN       NaN   NaN    NaN           NaN

                   campaigned_for_by cctv toilets toilets:handwashing ruins
element id
node    20823646                 NaN  NaN     NaN                 NaN   NaN
        20823709                 NaN  NaN     NaN                 NaN   NaN
        20823843                 NaN  NaN     NaN                 NaN   NaN
        20826694                 NaN  NaN     NaN                 NaN   NaN
        20826702                 NaN  NaN     NaN                 NaN   NaN
...                              ...  ...     ...                 ...   ...
way     1337666662               NaN  NaN     NaN                 NaN   NaN
        1337672054               NaN  NaN     NaN                 NaN   NaN
        1337674625               NaN  NaN     NaN                 NaN   NaN
        1337820723               NaN  NaN     NaN                 NaN   NaN
        1337820726               NaN  NaN     NaN                 NaN   NaN

[1431 rows x 303 columns]

### 1.1.5 Map of England

This dataset is extremely large at 2GB. It takes over an hour to download and to save it into a CSV file. Moreover, the format downloaded has the columns `id`, `latitude`, `longitude` and `tags`, but since all the columns are given to us as keys in the `tags` dictionary, we have to do further processing of data in a DataFrame, yet there is not enough RAM to handle all the data as it is being loaded into the DataFrame.

For now we will download the CSV file, and in 1.2.4 we will download in smaller chunks of DataFrames due to the limited RAM. We will process the DataFrame, then upload to AWS, then drop the DataFrame before we proceed to the next chunk.

In [12]:
%pip install osmium

Collecting osmium
  Downloading osmium-4.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.5 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from osmium) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->osmium) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->osmium) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->osmium) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->osmium) (2024.8.30)
Downloading osmium-4.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.7 MB)
    1.7/1.7 MB 15.3 MB/s eta 0:00:00
Installing collected packages: osmium
Successfully installed osmium-4.0.2

In [2]:
import osmium

In [29]:
# Download the .osm.pbf file
url = "https://download.openstreetmap.fr/extracts/europe/united_kingdom-latest.osm.pbf"
file_name = "/tmp/united_kingdom-latest.osm.pbf"

response = requests.get(url)
response.raise_for_status()
with open(file_name, "wb") as f:
    f.write(response.content)

print(f"File downloaded and saved as: {file_name}")

# Define the OSMHandler class to process the .osm.pbf file
class OSMHandler(osmium.SimpleHandler):
    def __init__(self):  # Corrected method name from _init_ to __init__
        super().__init__()
        self.data = []  # Initialize the data attribute

    def node(self, n):
        tags = dict(n.tags)
        if tags:
            self.data.append([n.id, n.location.lat, n.location.lon, dict(n.tags)])

# Process the OSM file
print("Processing the file...")
handler = OSMHandler()
handler.apply_file(file_name)

# Save the data to a CSV file
map_df = pd.DataFrame(handler.data, columns=["id", "latitude", "longitude", "tags"])
map_df.to_csv("united_kingdom-latest.csv", index=False)
print("Complete!")

File downloaded and saved as: /tmp/united_kingdom-latest.osm.pbf
Processing the file...

KeyboardInterrupt:

In [22]:
def
for row in open("united_kingdom-latest.csv", "r"):
    print(row)

FileNotFoundError: [Errno 2] No such file or directory: '/tmp/united_kingdom-latest.csv'

In [20]:
import osmium
import pandas as pd

class OSMHandler(osmium.SimpleHandler):
    def __init__(self):
        super().__init__()
        self.data = []

    def node(self, n):
        tags = dict(n.tags)
        if tags:
            self.data.append([n.id, n.location.lat, n.location.lon, tags])

def parse_pbf(fileName):

    print("Processing the local .osm.pbf file...")
    handler = OSMHandler()
    try:
        handler.apply_file(fileName)
    except RuntimeError as e:
        print(f"Error encountered: {e}")
        print("Continuing processing with remaining data...")

    map_df = pd.DataFrame(handler.data, columns=["id", "latitude", "longitude", "tags"])
    print("Processing complete! Data loaded into a DataFrame.")

    return map_df

for fileNumber in range(1, 43):
    map_df = parse_pbf(f"united_kingdom-latest-part-{fileNumber}.osm.pbf")
    print(map_df)

Processing the local .osm.pbf file...
Error encountered: PBF error: unexpected EOF
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
               id   latitude  longitude  \
0             129  53.959357  -1.081517
1           99878  51.524343  -0.152979
2           99880  51.525085  -0.153580
3           99884  51.524364  -0.152816
4           99918  51.525734  -0.157812
...           ...        ...        ...
768351  291933543  51.365587  -1.885762
768352  291933913  51.004001  -0.197419
768353  291933964  51.377721  -1.947391
768354  291935132  51.368934  -1.930740
768355  291935156  51.356286  -1.943099

                                                     tags
0       {'addr:city': 'York', 'addr:housenumber': '29-...
1       {'access': 'permissive', 'barrier': 'gate', 'b...
2       {'crossing': 'unmarked', 'crossing:island': 'n...
3       {'amenity': 'waste_basket', 'waste': 'dog_excr...
4                              {'emergency': 'life_ring'}
...                                                   ...
768351                         {'name': 'Cannings Cross'}
768352  {'highway': 'motorway_junction', 'name': 'Boln...
768353  {'name': 'Bishops Cannings', 'place': 'village...
768354  {'created_by': 'Potlatch 0.10b', 'name': 'Hort...
768355  {'created_by': 'Potlatch 0.10b', 'name': 'Coat...

[768356 rows x 4 columns]
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []
Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.
Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []

In [21]:
parse_pbf("united_kingdom-latest-part-2.osm.pbf")

Processing the local .osm.pbf file...
Error encountered: PBF error: invalid BlobHeader size (> max_blob_header_size)
Continuing processing with remaining data...
Processing complete! Data loaded into a DataFrame.

Empty DataFrame
Columns: [id, latitude, longitude, tags]
Index: []

In [15]:
%pip install pyrosm

Collecting pyrosm
  Using cached pyrosm-0.6.2.tar.gz (2.5 MB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting python-rapidjson (from pyrosm)
  Downloading python_rapidjson-1.20-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Requirement already satisfied: setuptools>=18.0 in /usr/local/lib/python3.10/dist-packages (from pyrosm) (75.1.0)
Requirement already satisfied: geopandas>=0.12.0 in /usr/local/lib/python3.10/dist-packages (from pyrosm) (1.0.1)
Requirement already satisfied: shapely>=2.0.1 in /usr/local/lib/python3.10/dist-packages (from pyrosm) (2.0.6)
Collecting cykhash (from pyrosm)
  Downloading cykhash-2.0.1.tar.gz (44 kB)
      44.9/44.9 kB 2.0 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting pyrobuf (from pyrosm)
  Using cached pyrobuf-0.9.3-cp310-cp310-linux_x86_64.whl
Requirement already satisfied: numpy>=1.22 in /usr/local/lib/python3.10/dist-packages (from geopandas>=0.12.0->pyrosm) (1.26.4)
Requirement already satisfied: pyogrio>=0.7.2 in /usr/local/lib/python3.10/dist-packages (from geopandas>=0.12.0->pyrosm) (0.10.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from geopandas>=0.12.0->pyrosm) (24.2)
Requirement already satisfied: pandas>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from geopandas>=0.12.0->pyrosm) (2.2.2)
Requirement already satisfied: pyproj>=3.3.0 in /usr/local/lib/python3.10/dist-packages (from geopandas>=0.12.0->pyrosm) (3.7.0)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.10/dist-packages (from pyrobuf->pyrosm) (3.1.4)
Requirement already satisfied: cython>=0.23 in /usr/local/lib/python3.10/dist-packages (from pyrobuf->pyrosm) (3.0.11)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=2.8->pyrobuf->pyrosm) (3.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.4.0->geopandas>=0.12.0->pyrosm) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.4.0->geopandas>=0.12.0->pyrosm) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.4.0->geopandas>=0.12.0->pyrosm) (2024.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from pyogrio>=0.7.2->geopandas>=0.12.0->pyrosm) (2024.8.30)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->geopandas>=0.12.0->pyrosm) (1.16.0)
Downloading python_rapidjson-1.20-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.7 MB)
    1.7/1.7 MB 22.5 MB/s eta 0:00:00
Building wheels for collected packages: pyrosm, cykhash
  Building wheel for pyrosm (pyproject.toml) ... done
  Created wheel for pyrosm: filename=pyrosm-0.6.2-cp310-cp310-linux_x86_64.whl size=7462935 sha256=2009a193038904bb276e05dff079dc88a274f233815c848e28c37a8d4d97ee82
  Stored in directory: /root/.cache/pip/wheels/18/21/22/b07b96a708420e351c553188667cfd6ebc7e78a011a8708cf4
  Building wheel for cykhash (pyproject.toml) ... done
  Created wheel for cykhash: filename=cykhash-2.0.1-cp310-cp310-linux_x86_64.whl size=3365966 sha256=50680fe1ac9f226b6dafb881fc7d424e2516e0223710033605b3f0979fc5d879
  Stored in directory: /root/.cache/pip/wheels/ed/de/7a/4386df8e70276a0d2ec5e990db76b6c89889dc41cd627e1c14
Successfully built pyrosm cykhash
Installing collected packages: cykhash, python-rapidjson, pyrobuf, pyrosm
Successfully installed cykhash-2.0.1 pyrobuf-0.9.3 pyrosm-0.6.2 python-rapidjson-1.20

In [1]:
from pyrosm import OSM

In [6]:
url = "https://download.openstreetmap.fr/extracts/europe/united_kingdom-latest.osm.pbf"
fileName = "/tmp/united_kingdom-latest.osm.pbf"

response = requests.get(url)
response.raise_for_status()
with open(fileName, "wb") as f:
    f.write(response.content)

print(f"File downloaded and saved as: {fileName}")

File downloaded and saved as: /tmp/united_kingdom-latest.osm.pbf

In [ ]:
osm = OSM(fileName)
custom_filter = dict(created_by=["JOSM"])
filter_type = "exclude"
map_df = osm.get_data_by_custom_criteria(custom_filter=custom_filter,
                                        filter_type=filter_type)

In [7]:
url = "https://download.openstreetmap.fr/extracts/europe/gibraltar-latest.osm.pbf"
fileName = "/tmp/gibraltar-latest.osm.pbf"

response = requests.get(url)
response.raise_for_status()
with open(fileName, "wb") as f:
    f.write(response.content)

print(f"File downloaded and saved as: {fileName}")

File downloaded and saved as: /tmp/gibraltar-latest.osm.pbf

In [8]:
osm = OSM(fileName)
custom_filter = dict(created_by=["JOSM"])
filter_type = "exclude"
map_df = osm.get_data_by_custom_criteria(custom_filter=custom_filter,
                                        filter_type=filter_type)

In [9]:
map_df

,created_by,id,timestamp,version,tags,osm_type,geometry
0,Potlatch 0.6c,22732330,1212945838,3,"{""visible"":false,""highway"":""service""}",way,"MULTILINESTRING ((-5.35453 36.12422, -5.35457 ..."

In [ ]:
import osmium

url = "https://download.openstreetmap.fr/extracts/europe/united_kingdom-latest.osm.pbf"
file_name = "/tmp/united_kingdom-latest.osm.pbf"

response = requests.get(url)
response.raise_for_status()
with open(file_name, "wb") as f:
    f.write(response.content)

print(f"File downloaded and saved as: {file_name}")

class OSMHandler(osmium.SimpleHandler):
    def __init__(self):
        super().__init__()
        self.data = []

    def node(self, n):
        tags = dict(n.tags)
        if len(tags) == 1:
            return
        if len(tags) > 1:  # Only process nodes with more than one tag
            self.data.append([n.id, n.location.lat, n.location.lon, tags])

print("Processing the file...")
handler = OSMHandler()
handler.apply_file(file_name, locations=True)
map_df = pd.DataFrame(handler.data, columns=["id", "latitude", "longitude", "tags"])
print("Complete!")

File downloaded and saved as: /tmp/united_kingdom-latest.osm.pbf
Processing the file...
Complete!

There are a few issues with `map_df`. Firstly, it is too sparse, since preliminary findings showed me that a large proportion of the table has the tag `{"created_by": "JOSM"}`, which stands for Java Open Street Maps. While such information could be about houses or schools or relevant buildings, the row itself does not give me much information as it is a dictionary with a single field, along with the latitude and longitude. Hence, my code discards all such rows and the table produced is much smaller.

In [ ]:
map_df

,id,latitude,longitude,tags
0,129,53.959357,-1.081517,"{'addr:city': 'York', 'addr:housenumber': '29-..."
1,99878,51.524343,-0.152979,"{'access': 'permissive', 'barrier': 'gate', 'b..."
2,99880,51.525085,-0.153580,"{'crossing': 'unmarked', 'crossing:island': 'n..."
3,99884,51.524364,-0.152816,"{'amenity': 'waste_basket', 'waste': 'dog_excr..."
4,99939,51.522443,-0.155462,"{'highway': 'traffic_signals', 'traffic_signal..."
...,...,...,...,...
4052176,12383449003,56.330685,-2.822196,"{'leaf_cycle': 'deciduous', 'leaf_type': 'broa..."
4052177,12383449004,56.330707,-2.821277,"{'leaf_cycle': 'deciduous', 'leaf_type': 'broa..."
4052178,12383455200,54.784795,-6.292495,"{'frequency': '50', 'operator': 'NIE Networks'..."
4052179,12383468913,51.492919,-0.053388,"{'leisure': 'pitch', 'sport': 'cricket', 'surf..."
4052180,12383468914,51.493920,-0.051744,"{'leisure': 'pitch', 'sport': 'rugby_union', '..."

In [ ]:
map_df

NameError: name 'map_df' is not defined

In [ ]:
col = set()
for tag in map_df["tags"]:
    col.update(tag.keys())
col_list = list(col)
col_list

NameError: name 'map_df' is not defined

In [ ]:
map_df_new = pd.DataFrame(columns=col_list)
rows = []
i=0
for index, row in map_df.iterrows():
    print(i)
    row_dict = {}
    tags = row["tags"]
    i+=1
    for tag in col_list:
        if tag in tags:
            row_dict[tag] = tags[tag]
        else:
            row_dict[tag] = np.nan
    row_dict["geometry"] = (row["latitude"], row["longitude"])
    rows.append(row_dict)
map_df_new = pd.DataFrame(rows, columns=col_list + ["geometry"])

NameError: name 'pd' is not defined

In [ ]:
map_df_new.to_csv("map.csv", header=None, index=False)
map_df_new

### 1.2

Again, we will use the same pandas Dataframes and upload to AWS:

1. TS062: National Statistics Socio-economic Classification,
2. TS037: General Health,
3. Geographic Coordinates of Census Output Areas,

and OSM data for
4. Map of England.

I will *not* store the tables acquired from the Open Street Maps API Connection since they are coordinates specific and can be searched up in a short time for a 1km x 1km bounding box. Moreover, the features available for each region varies: Cambridge itself has 303 columns. It is not meaningful to upload tables whose features dynamically change for each region.

For now I will store Map of England as it is, because I am unsure at this stage what columns I might find useful for later. In Data Science, we want to keep our data at our fingertips, so we should refrain ourselves from throwing data away as we may need it later, or even for someone else to use.

First, we should set up the connection to the AWS database, then we can upload data.

In [ ]:
import yaml
from ipywidgets import interact_manual, Text, Password

In [ ]:
@interact_manual(username=Text(description="Username:"),
                password=Password(description="Password:"),
                url=Text(description="URL:"),
                port=Text(description="Port:"))
def write_credentials(username, password, url, port):
    with open("credentials.yaml", "w") as file:
        credentials_dict = {'username': username,
                           'password': password,
                           'url': url,
                           'port': port}
        yaml.dump(credentials_dict, file)

interactive(children=(Text(value='', description='Username:'), Password(description='Password:'), Text(value='

In [ ]:
with open("credentials.yaml") as file:
    credentials = yaml.safe_load(file)
    username = credentials["username"]
    password = credentials["password"]
    url = credentials["url"]
    port = credentials["port"]

In [ ]:
%pip install pymysql
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql mariadb+pymysql://$username:$password@$url?local_infile=1

Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.1)
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### 1.2.1 TS062: National Statistics Socio-economic Classification

In [ ]:
%%sql

USE `ads_2024`;
DROP TABLE IF EXISTS `ns_sec`;
CREATE TABLE IF NOT EXISTS `ns_sec` (
    `date` int(10) unsigned NOT NULL,
    `geography_code` char(9),
    `ns_sec_total` int(10) unsigned NOT NULL,
    `ns_sec_l1_l2_l3` int(10) unsigned NOT NULL,
    `ns_sec_l4_l5_l6` int(10) unsigned NOT NULL,
    `ns_sec_l7` int(10) unsigned NOT NULL,
    `ns_sec_l8_l9` int(10) unsigned NOT NULL,
    `ns_sec_l10_l11` int(10) unsigned NOT NULL,
    `ns_sec_l12` int(10) unsigned NOT NULL,
    `ns_sec_l13` int(10) unsigned NOT NULL,
    `ns_sec_l14_1_l14_2` int(10) unsigned NOT NULL,
    `ns_sec_l15` int(10) unsigned NOT NULL,
    `db_id` bigint(20) unsigned NOT NULL
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;

ALTER TABLE `ns_sec`
ADD PRIMARY KEY (`db_id`);

ALTER TABLE `ns_sec`
MODIFY db_id bigint(20) unsigned NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=1;

 * mariadb+pymysql://admin:***@database-ads-cyl68.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [ ]:
%%sql

USE `ads_2024`;
LOAD DATA LOCAL INFILE "./age.csv" INTO TABLE `ns_sec` FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED by '"' LINES STARTING BY '' TERMINATED BY '\n';

 * mariadb+pymysql://admin:***@database-ads-cyl68.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
188880 rows affected.

[]

In [ ]:
%%sql

USE `ads_2024`;
SELECT * FROM ns_sec LIMIT 5;

 * mariadb+pymysql://admin:***@database-ads-cyl68.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
5 rows affected.

[(2021, 'E00000001', 159, 80, 38, 13, 9, 3, 5, 5, 4, 2, 1),
 (2021, 'E00000003', 222, 96, 58, 8, 26, 2, 5, 2, 5, 20, 2),
 (2021, 'E00000005', 103, 37, 28, 8, 21, 0, 3, 1, 1, 4, 3),
 (2021, 'E00000007', 140, 62, 39, 5, 11, 3, 3, 1, 6, 10, 4),
 (2021, 'E00000010', 170, 34, 45, 17, 27, 7, 10, 14, 11, 5, 5)]

###1.2.2 TS037: General Health

In [ ]:
%%sql

USE `ads_2024`;
DROP TABLE IF EXISTS `health`;
CREATE TABLE IF NOT EXISTS `health` (
    `date` int(10) unsigned NOT NULL,
    `geography_code` char(9),
    `health_total` int(10) unsigned NOT NULL,
    `very_good_health` int(10) unsigned NOT NULL,
    `good_health` int(10) unsigned NOT NULL,
    `fair_health` int(10) unsigned NOT NULL,
    `bad_health` int(10) unsigned NOT NULL,
    `very_bad_health` int(10) unsigned NOT NULL,
    `db_id` bigint(20) unsigned NOT NULL
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;

ALTER TABLE `health`
ADD PRIMARY KEY (`db_id`);

ALTER TABLE `health`
MODIFY db_id bigint(20) unsigned NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=1;

 * mariadb+pymysql://admin:***@database-ads-cyl68.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [ ]:
%%sql

USE `ads_2024`;
LOAD DATA LOCAL INFILE "./health.csv" INTO TABLE `health` FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED by '"' LINES STARTING BY '' TERMINATED BY '\n';

 * mariadb+pymysql://admin:***@database-ads-cyl68.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
188880 rows affected.

[]

In [ ]:
%%sql

USE `ads_2024`;
SELECT * FROM health LIMIT 5;

 * mariadb+pymysql://admin:***@database-ads-cyl68.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
5 rows affected.

[(2021, 'E00000001', 175, 98, 49, 26, 2, 0, 1),
 (2021, 'E00000003', 256, 146, 92, 15, 1, 2, 2),
 (2021, 'E00000005', 112, 62, 39, 8, 3, 0, 3),
 (2021, 'E00000007', 144, 94, 40, 6, 3, 1, 4),
 (2021, 'E00000010', 174, 73, 74, 21, 6, 0, 5)]

### 1.2.3 Geographic Coordinates of Census Output Areas

In [ ]:
%%sql

USE `ads_2024`;
DROP TABLE IF EXISTS `census_coord`;
CREATE TABLE IF NOT EXISTS `census_coord` (
    `fid` int(10) unsigned NOT NULL,
    `0a21cd` char(9) NOT NULL,
    `ls0a21cd` char(9) NOT NULL,
    `ls0a21nm` varchar(255) NOT NULL,
    `ls0a21nmw` char(4) NOT NULL,
    `bng_e` int unsigned NOT NULL,
    `bng_n` int unsigned NOT NULL,
    `lat` decimal(9, 6) NOT NULL,
    `long` decimal(9, 6) unsigned NOT NULL,
    `shape_area` decimal(15, 6) NOT NULL,
    `shape_length` decimal(15, 6) NOT NULL,
    `globalid` char(36) NOT NULL,
    `db_id` bigint(20) unsigned NOT NULL
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;

ALTER TABLE `census_coord`
ADD PRIMARY KEY (`db_id`);

ALTER TABLE `census_coord`
MODIFY db_id bigint(20) unsigned NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=1;

 * mariadb+pymysql://admin:***@database-ads-cyl68.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [ ]:
%%sql

USE `ads_2024`;
LOAD DATA LOCAL INFILE "./census_coord.csv" INTO TABLE `census_coord` FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED by '"' LINES STARTING BY '' TERMINATED BY '\n';

 * mariadb+pymysql://admin:***@database-ads-cyl68.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
188880 rows affected.

[]

In [ ]:
%%sql

USE `ads_2024`;
SELECT * FROM `census_coord` LIMIT 5;

 * mariadb+pymysql://admin:***@database-ads-cyl68.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
5 rows affected.

[(1, 'E00000001', 'E01000001', 'City of London 001A', '', 532250, 181864, Decimal('51.520220'), Decimal('0.000000'), Decimal('6949.151482'), Decimal('421.166161'), '3a44dd3d-5082-4a09-9b9c-3a5fadc811ed', 1),
 (2, 'E00000003', 'E01000001', 'City of London 001A', '', 532171, 181819, Decimal('51.519830'), Decimal('0.000000'), Decimal('4492.411072'), Decimal('307.714653'), 'f1216dc8-14d1-4857-9230-cab0641758fb', 2),
 (3, 'E00000005', 'E01000001', 'City of London 001A', '', 532166, 181722, Decimal('51.518960'), Decimal('0.000000'), Decimal('8565.514214'), Decimal('385.204781'), '44d6f70f-549c-4288-9b6d-de2adbf02582', 3),
 (4, 'E00000007', 'E01000001', 'City of London 001A', '', 532088, 181473, Decimal('51.516740'), Decimal('0.000000'), Decimal('75994.829704'), Decimal('1408.607657'), '4dd683e1-9a5c-46cf-9e19-8465c8fbb6cb', 4),
 (5, 'E00000010', 'E01000003', 'City of London 001C', '', 532092, 182114, Decimal('51.522500'), Decimal('0.000000'), Decimal('2102.876602'), Decimal('215.271975'), '7476781f-8fe4-4c9b-bde1-0eecbd146dff', 5)]

### 1.2.4 Map of England
(Note that this refers to the data acquired in 1.1.5 and *not* 1.1.4.)

In [ ]:
map_df_new.values.columns

In [ ]:
%%sql

USE `ads_2024`;
DROP TABLE IF EXISTS `census_coord`;
CREATE TABLE IF NOT EXISTS `census_coord` (
    `fid` int(10) unsigned NOT NULL,
    `0a21cd` char(9) NOT NULL,
    `ls0a21cd` char(9) NOT NULL,
    `ls0a21nm` varchar(255) NOT NULL,
    `ls0a21nmw` char(4) NOT NULL,
    `bng_e` int unsigned NOT NULL,
    `bng_n` int unsigned NOT NULL,
    `lat` decimal(9, 6) NOT NULL,
    `long` decimal(9, 6) unsigned NOT NULL,
    `shape_area` decimal(15, 6) NOT NULL,
    `shape_length` decimal(15, 6) NOT NULL,
    `globalid` char(36) NOT NULL,
    `db_id` bigint(20) unsigned NOT NULL
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;

ALTER TABLE `census_coord`
ADD PRIMARY KEY (`db_id`);

ALTER TABLE `census_coord`
MODIFY db_id bigint(20) unsigned NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=1;

Write a short paragraph summarising what you did in the Access stage.

In conclusion, we downloaded Census Data, Geographic Coordinates of Census Output Areas, the Map of England and saved it to the AWS database. We also set up an API connection to OSM so we can use a bounding box to retrieve features in an area, that we can use as feature vectors in our linear regression model later.

## Assess

Let us refer back to the overarching project question: how can we predict the proportion of L15 students in each Output Area from OSM features?

The response vector is easily manipulated, we can simply use `ns_sec` to retrieve the information as it is already nicely formatted for us.

In [ ]:
%%sql

USE `ads_2024`;
SELECT * FROM health WHERE geography <> geography_code LIMIT 5;

 * mariadb+pymysql://admin:***@database-ads-cyl68.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.

[]

With a bit of data manipulation, we can see that L15 proportion is just L15 divided by total population.

In [ ]:
query = %sql SELECT geography, geography_code, ns_sec_total, ns_sec_l15 FROM ns_sec LIMIT 5;
ns_sec_df = pd.DataFrame(query)
ns_sec_df["ns_sec_l15_prop"] = ns_sec_df["ns_sec_l15"] / ns_sec_df["ns_sec_total"]
ns_sec_df[["geography", "geography_code", "ns_sec_l15_prop"]]

 * mariadb+pymysql://admin:***@database-ads-cyl68.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
5 rows affected.

   geography geography_code  ns_sec_l15_prop
0  E00000001      E00000001         0.012579
1  E00000003      E00000003         0.090090
2  E00000005      E00000005         0.038835
3  E00000007      E00000007         0.071429
4  E00000010      E00000010         0.029412

Next, we explore the OSM data, and the columns that are relevant. **The ultimate goal is to transform the OSM data into feature vectors**, with each element describing some numeric value of the Output Area. If we were to look at the DataFrame we downloaded earlier:

In [ ]:
osmnx_df #CHANGE TO MAP_OUTPUT_DF

                                                             geometry  \
element id
node    20823646                             POINT (0.12613 52.20262)
        20823709                             POINT (0.13055 52.20086)
        20823843                             POINT (0.13038 52.20478)
        20826694                             POINT (0.13919 52.20238)
        20826702                             POINT (0.13885 52.19961)
...                                                               ...
way     1337666662  POLYGON ((0.13464 52.1874, 0.13528 52.18621, 0...
        1337672054  POLYGON ((0.13089 52.18904, 0.1313 52.18913, 0...
        1337674625  POLYGON ((0.12259 52.19495, 0.12261 52.19492, ...
        1337820723  POLYGON ((0.13817 52.19348, 0.13844 52.1934, 0...
        1337820726  POLYGON ((0.13802 52.19357, 0.13809 52.19355, ...

                    addr:city addr:postcode    addr:street   alt_name  \
element id
node    20823646    Cambridge       CB1 1JH   Park Terrace  Baan Thai
        20823709          NaN           NaN            NaN        NaN
        20823843    Cambridge       CB1 1DU   Prospect Row        NaN
        20826694    Cambridge       CB1 2LG  Gwydir Street        NaN
        20826702          NaN           NaN            NaN        NaN
...                       ...           ...            ...        ...
way     1337666662        NaN           NaN            NaN        NaN
        1337672054        NaN           NaN            NaN        NaN
        1337674625        NaN           NaN            NaN        NaN
        1337820723        NaN           NaN            NaN        NaN
        1337820726        NaN           NaN            NaN        NaN

                       amenity cuisine  \
element id
node    20823646    restaurant    thai
        20823709       parking     NaN
        20823843           pub     NaN
        20826694           pub     NaN
        20826702     recycling     NaN
...                        ...     ...
way     1337666662  university     NaN
        1337672054  university     NaN
        1337674625  university     NaN
        1337820723     parking     NaN
        1337820726     parking     NaN

                                                                 name  \
element id
node    20823646                     Baan Thai Street Food Restaurant
        20823709                                   Queen Anne Terrace
        20823843                                       The Free Press
        20826694                                       Cambridge Blue
        20826702                                                  NaN
...                                                               ...
way     1337666662                  Hills Road Sports & Tennis Centre
        1337672054  Cambridge University Cambridge University Pres...
        1337674625            University of Cambridge Botanic Gardens
        1337820723                                                NaN
        1337820726                                                NaN

                                        opening_hours         phone  ...  \
element id                                                           ...
node    20823646                          12:00-21:00  01223 300891  ...
        20823709                                  NaN           NaN  ...
        20823843    Tu-Sa 12:00-23:00; Su 12:00-21:00           NaN  ...
        20826694                                  NaN           NaN  ...
        20826702                                  NaN           NaN  ...
...                                               ...           ...  ...
way     1337666662                                NaN           NaN  ...
        1337672054                                NaN           NaN  ...
        1337674625                                NaN           NaN  ...
        1337820723                                NaN           NaN  ...
        1337820726                                NaN           NaN  ...

                   natural emergency house locked building:part  \
element id
node    20823646       NaN       NaN   NaN    NaN           NaN
        20823709       NaN       NaN   NaN    NaN           NaN
        20823843       NaN       NaN   NaN    NaN           NaN
        20826694       NaN       NaN   NaN    NaN           NaN
        20826702       NaN       NaN   NaN    NaN           NaN
...                    ...       ...   ...    ...           ...
way     1337666662     NaN       NaN   NaN    NaN           NaN
        1337672054     NaN       NaN   NaN    NaN           NaN
        1337674625     NaN       NaN   NaN    NaN           NaN
        1337820723     NaN       NaN   NaN    NaN           NaN
        1337820726     NaN       NaN   NaN    NaN           NaN

                   campaigned_for_by cctv toilets toilets:handwashing ruins
element id
node    20823646                 NaN  NaN     NaN                 NaN   NaN
        20823709                 NaN  NaN     NaN                 NaN   NaN
        20823843                 NaN  NaN     NaN                 NaN   NaN
        20826694                 NaN  NaN     NaN                 NaN   NaN
        20826702                 NaN  NaN     NaN                 NaN   NaN
...                              ...  ...     ...                 ...   ...
way     1337666662               NaN  NaN     NaN                 NaN   NaN
        1337672054               NaN  NaN     NaN                 NaN   NaN
        1337674625               NaN  NaN     NaN                 NaN   NaN
        1337820723               NaN  NaN     NaN                 NaN   NaN
        1337820726               NaN  NaN     NaN                 NaN   NaN

[1431 rows x 303 columns]

In [ ]:
len(osmnx_df.columns.values) #CHANGE TO MAP_OUTPUT_DF

303

There is quite a lot to change in the data. Let us do a step by step transformation for this dataset into a design matrix.

1. There are a lot of NaN values, and it is unlikely that we have enough training data if our feature vectors are sparse.
2. Not all cell values are numeric. To adjust this to a feature vector, one can count the occurrences of given features (e.g. count the number of rows with `osmnx_df[osmnx_df["amenity"]=="university"]` for each Output Area.
3.

It will be very foolish to investigate manually each of the 303 columns if they are correlated to L15 population, and even if so, it would be unwise to investigate the extent of correlation.

Our solution here will be twofold. Firstly, we will try to eliminate columns with many NaN values, since it is unlikely that we have enough training data if our feature vectors are sparse. Secondly, we will use a feature correlation matrix to see

### There are a lot of NaN values.

The sparse dataset has ___ columns, yet many of them have NaN values -- it is likely that they were shown once by some node, included in the column list, and therefore does not provide any meaningful insights to a majority of nodes. Hence, we will eliminate columns with NaN values spanning more than 99% of the dataset.

In [ ]:
proportion_nan = osmnx_df.isna().mean()
osmnx_cleaned = osmnx_df.loc[:, proportion_nan < 0.99]
osmnx_cleaned

                                                             geometry  \
element id
node    20823646                             POINT (0.12613 52.20262)
        20823709                             POINT (0.13055 52.20086)
        20823843                             POINT (0.13038 52.20478)
        20826694                             POINT (0.13919 52.20238)
        20826702                             POINT (0.13885 52.19961)
...                                                               ...
way     1337666662  POLYGON ((0.13464 52.1874, 0.13528 52.18621, 0...
        1337672054  POLYGON ((0.13089 52.18904, 0.1313 52.18913, 0...
        1337674625  POLYGON ((0.12259 52.19495, 0.12261 52.19492, ...
        1337820723  POLYGON ((0.13817 52.19348, 0.13844 52.1934, 0...
        1337820726  POLYGON ((0.13802 52.19357, 0.13809 52.19355, ...

                    addr:city addr:postcode    addr:street     amenity  \
element id
node    20823646    Cambridge       CB1 1JH   Park Terrace  restaurant
        20823709          NaN           NaN            NaN     parking
        20823843    Cambridge       CB1 1DU   Prospect Row         pub
        20826694    Cambridge       CB1 2LG  Gwydir Street         pub
        20826702          NaN           NaN            NaN   recycling
...                       ...           ...            ...         ...
way     1337666662        NaN           NaN            NaN  university
        1337672054        NaN           NaN            NaN  university
        1337674625        NaN           NaN            NaN  university
        1337820723        NaN           NaN            NaN     parking
        1337820726        NaN           NaN            NaN     parking

                   cuisine                                               name  \
element id
node    20823646      thai                   Baan Thai Street Food Restaurant
        20823709       NaN                                 Queen Anne Terrace
        20823843       NaN                                     The Free Press
        20826694       NaN                                     Cambridge Blue
        20826702       NaN                                                NaN
...                    ...                                                ...
way     1337666662     NaN                  Hills Road Sports & Tennis Centre
        1337672054     NaN  Cambridge University Cambridge University Pres...
        1337674625     NaN            University of Cambridge Botanic Gardens
        1337820723     NaN                                                NaN
        1337820726     NaN                                                NaN

                                        opening_hours         phone  \
element id
node    20823646                          12:00-21:00  01223 300891
        20823709                                  NaN           NaN
        20823843    Tu-Sa 12:00-23:00; Su 12:00-21:00           NaN
        20826694                                  NaN           NaN
        20826702                                  NaN           NaN
...                                               ...           ...
way     1337666662                                NaN           NaN
        1337672054                                NaN           NaN
        1337674625                                NaN           NaN
        1337820723                                NaN           NaN
        1337820726                                NaN           NaN

                                                              website  ...  \
element id                                                             ...
node    20823646                       https://baanthaicambridge.com/  ...
        20823709    https://www.cambridge.gov.uk/queen-anne-terrac...  ...
        20823843                  https://www.freepresscambridge.com/  ...
        20826694                      https://cambridge.pub/the-blue/  ...
        20826702                                                  NaN  ...
...                                                               ...  ...
way     1337666662                                                NaN  ...
        1337672054                                                NaN  ...
        1337674625                                                NaN  ...
        1337820723                                                NaN  ...
        1337820726                                                NaN  ...

                   sport material denomination ref:university_of_cambridge  \
element id
node    20823646     NaN      NaN          NaN                         NaN
        20823709     NaN      NaN          NaN                         NaN
        20823843     NaN      NaN          NaN                         NaN
        20826694     NaN      NaN          NaN                         NaN
        20826702     NaN      NaN          NaN                         NaN
...                  ...      ...          ...                         ...
way     1337666662   NaN      NaN          NaN                         NaN
        1337672054   NaN      NaN          NaN                         NaN
        1337674625   NaN      NaN          NaN                         NaN
        1337820723   NaN      NaN          NaN                         NaN
        1337820726   NaN      NaN          NaN                         NaN

                   ref:GB:uprn ref:edubase school:trust school:type  \
element id
node    20823646           NaN         NaN          NaN         NaN
        20823709           NaN         NaN          NaN         NaN
        20823843           NaN         NaN          NaN         NaN
        20826694           NaN         NaN          NaN         NaN
        20826702           NaN         NaN          NaN         NaN
...                        ...         ...          ...         ...
way     1337666662         NaN         NaN          NaN         NaN
        1337672054         NaN         NaN          NaN         NaN
        1337674625         NaN         NaN          NaN         NaN
        1337820723         NaN         NaN          NaN         NaN
        1337820726         NaN         NaN          NaN         NaN

                   building:levels roof:levels
element id
node    20823646               NaN         NaN
        20823709               NaN         NaN
        20823843               NaN         NaN
        20826694               NaN         NaN
        20826702               NaN         NaN
...                            ...         ...
way     1337666662             NaN         NaN
        1337672054             NaN         NaN
        1337674625             NaN         NaN
        1337820723             NaN         NaN
        1337820726             NaN         NaN

[1431 rows x 73 columns]

A caveat here: a correlation matrix identifies **linear relationships** between features and the response (e.g. if $y$ is linearly related to $e^{x_1}$, then the correlation score between $y$ and $x_1$ may be less than ideal.

In [ ]:
import pandas as pd
import geopandas as gpd
from sqlalchemy import create_engine
import psycopg2

# 1. Pull the OA boundary data and ns_sec data from the AWS SQL database
connection_string = f"mariadb+pymysql://{username}:{password}@{url}/ads_2024?local_infile=1"

# Connect to the AWS database (Replace with your connection details)
engine = create_engine(connection_string)

# Load the OA boundary data
oa_query = "SELECT * FROM census_coord"
oa_boundaries_df = pd.read_sql(oa_query, engine)

# Load the ns_sec data
ns_sec_query = "SELECT * FROM ns_sec"
ns_sec_data_df = pd.read_sql(ns_sec_query, engine)

# Convert OA boundaries to a GeoDataFrame
# Assuming the `geometry` column has well-defined lat/long points (update column names as needed)
oa_boundaries = gpd.GeoDataFrame(oa_boundaries_df, geometry=gpd.points_from_xy(oa_boundaries_df['long'], oa_boundaries_df['lat']))

# 2. Filter the OSMnx data for university buildings
# Assuming you already have the OSMnx data in a DataFrame `osmnx_data`
# Make sure to filter for university buildings
university_buildings = osmnx_df[osmnx_df['amenity'] == 'university']

# 3. Convert both OSMnx and OA boundary data to GeoDataFrames if they are not already
# Assuming OSMnx data is already in a DataFrame with coordinates in 'LONG' and 'LAT'

# Step 1: Extract longitude and latitude from the 'geometry' column if it's stored as (longitude, latitude)
university_buildings['longitude'] = university_buildings['geometry'].apply(lambda x: x[0] if isinstance(x, tuple) else None)
university_buildings['latitude'] = university_buildings['geometry'].apply(lambda x: x[1] if isinstance(x, tuple) else None)

# Step 2: Create a GeoDataFrame with the extracted coordinates using points_from_xy
osmnx_geo = gpd.GeoDataFrame(university_buildings, geometry=gpd.points_from_xy(university_buildings['longitude'], university_buildings['latitude']))

# Step 3: Verify the GeoDataFrame


# 4. Ensure both GeoDataFrames have the same CRS (Coordinate Reference System)
# Set CRS for the OA boundaries GeoDataFrame if it doesn't have one, e.g., WGS84 (EPSG:4326)
oa_boundaries = oa_boundaries.set_crs('EPSG:4326', allow_override=True)
osmnx_geo = osmnx_geo.set_crs('EPSG:4326', allow_override=True)

# 5. Perform a spatial join to link university buildings with output areas
joined = gpd.sjoin(osmnx_geo, oa_boundaries, how="inner", predicate="intersects")
print(repr(joined.columns))
# 6. Count the number of university buildings per output area
building_counts = joined.groupby("oa21cd").size().reset_index(name="university_count")

# 7. Merge the counts back into the output areas dataframe (optional)
oa_with_counts = oa_boundaries.merge(building_counts, on="oa21cd", how="left").fillna(0)

# 8. View the results
print(oa_with_counts[['OA21CD', 'university_count']])

Write a short paragraph summarising what you did in the Assess stage.

In [ ]:
# TODO: your answer here

## Address

In [ ]:
def estimate_students(latitude: float, longitude: float) -> float:
    """
    Args:
    latitude (float): The latitude coordinate.
    longitude (float): The longitude coordinate.

    Returns:
    float: Estimated share of students in that area (value between 0 and 1).
    """
    # TODO: implement
    return NotImplementedError


def estimate_something(latitude: float, longitude: float) -> float:
    #TODO: rename function
    """
    Args:
    latitude (float): The latitude coordinate.
    longitude (float): The longitude coordinate.

    Returns:
    float: Estimated value, percentage, probability, etc
    """
    # TODO: implement
    return NotImplementedError

Write a short paragraph summarising what you did in the Address stage.

In [ ]:
# TODO: your answer here

## Discussion

#### Story and structure

In [ ]:
# Marks awarded for inline explanation and structure, no need for answers here. Go over your notebook to make sure you explain what you did and why.

#### Design decisions

In [ ]:
# TODO: your answer here

#### Comparison

In [ ]:
# TODO: your answer here

#### Reusability

In [ ]:
# TODO: your answer here

# Task 2: miniproject (13 marks)

We expect your miniproject to be more advanced than the example project, and that's why we allocated more marks to it. The first 7 marks will be allocated similarly to Task 1.

6 remaining points are *bonus* - they will be allocated for going far beyond what you did in Task 1, either in data access, assess, address or story.

#### Choosing your topic

You are given a lot of flexibility in choosing a miniproject topic.

Some hints:
- Your project should be based on the Census, Price Paid, OSM and Election datasets.
- It's a good idea to pick something that you are interested in.
- Bear in mind there are no marks dedicated to your overall prediction accuracy, so there is no advantage to picking 'easy' topics. It is perfectly ok to not reach significant predictive power, as long as you followed the proper process.

Some guidelines:
- Do not make a miniproject that furthers discriminatory rhetoric. In general, avoid topics that could be insensitive. If in doubt, message Radzim Sendyka (and *cc* Christian Cabrera) to discuss if this applies to your idea.
- Please avoid any projects that would require approval from the ethics comittee.
- Pick the scope of your projects that will allow you to show your skills. Some projects might not be challenging enough while others might be hard to make any progress in. Don't be scared to report negative results.

Please email Radzim Sendyka (and *cc* Christian Cabrera) with your project idea when you begin working on it, so we can let you know about any potential concerns (eg. potentially insensive, too off-topic, too simple, too complex) as soon as we can. You can change the topic up to the submission deadline, but let us know again in cases of major changes.

Most of the advice from Task 1 still applies, particularly around using an online relational database, structuring your notebook, fynesse, access-assess-address, data readiness levels, hints.

Sources you may want to include in your data include:

  - UK Census Data
    - UK Census 2021 data [here](https://www.ons.gov.uk/search?topics=9731,6646,3845,9497,4262,4128,7755,4994,6885,9724,7367&filter=datasets) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk).
    - Historical Census data [here](https://www.ons.gov.uk/census/historiccensusdata).
    - Geographic coordinates of Census Output Areas [here](https://www.data.gov.uk/dataset/4d4e021d-fe98-4a0e-88e2-3ead84538537/output-areas-december-2021-boundaries-ew-bgc-v2).
  - Spatial data
    - You should already have a connection to OpenStreetMaps.
    - You might want to also download the entire map for England (or more) [here](https://download.openstreetmap.fr/extracts/) or [here](https://wiki.openstreetmap.org/wiki/Planet.osm).
  - Election data
    - Recent Election Results data [here](https://commonslibrary.parliament.uk/research-briefings/cbp-10009/)
    - Historical Election Results data [here](https://commonslibrary.parliament.uk/research-briefings/cbp-8647/#fullreport).
    - Lookup reference between Output Areas and Parliamentary Constituencies [here](https://geoportal.statistics.gov.uk/datasets/5968b5b2c0f14dd29ba277beaae6dec3_0/explore).
  - Price Paid Data
    - You should have this data already in your database.
  - OSM
    - You should know how to access this data from previous practicals.

Example ideas:

- Are areas correlated in terms of census results? If so, find the areas that are leading change, and the ones that are following.
- Which historical census variables used to predict election results in the past, but don't seem related anymore?
- Census results are only updated once a decade, but new roads and houses are built every year. Can census results, for example those relating to travel, be predicted from basic map information, such as street networks?
- Building new houses is our best way of tackling the housing crisis. Use the information on new builds in the house prices dataset to explore what factors drive new developments, and make predictions for where the next houses will be built.
- House styles differ a lot between regions and inhabitants. Can you make any predictions about the house or area simply from looking at it's geometric shape and orientation?

Note that the ideas are just a starting point question. You should include more in-depth investigations into the data, validate your findings where applicable, and prepare visualisations.

## Title and description

In [ ]:
# TODO: title your miniproject

In [ ]:
# TODO: provide a very brief description of the goals of your miniproject

## TODO: Your Project Goes Here

In [ ]:
import requests

# Overpass API URL for OpenHistoricalMap (OHM)
overpass_url = "http://overpass-api.de/api/interpreter"

# Define the Overpass query for the year 1975
query = """
[out:json];
nwr["amenity"="theatre"]["start_date"](if:
  t["start_date"] < "1976" &&
  (!is_tag("end_date") || t["end_date"] >= "1975"));
out geom;
"""

# Send the request to the Overpass API
response = requests.get(overpass_url, params={'data': query})

# Check if the request was successful
if response.status_code == 200:
    data = response.json()
    print(f"Retrieved {len(data['elements'])} nodes/ways/relations.")
else:
    print(f"Error: {response.status_code}")

# Optionally, print the first few results
if len(data['elements']) > 0:
    print(f"First result: {data['elements'][0]}")

## Conclusions

The below code is for marking purpuses only, and not part of your project. It helps us gather the data we need without asking you for database credentials, and scouring github pages. This is mandatory. If the code does not work for you, let us know immediately.

1) Please re-run the code from Practical 1 to help us see the contents of your database. We recommend you include all data sources there, but some smaller inputs are fine to use as files.

In [ ]:
tables = %sql SHOW TABLES;

for row in tables:
    table_name = row[0]
    print(f"\nTable: {table_name}")

    table_status = %sql SHOW TABLE STATUS LIKE '{table_name}';
    approx_row_count = table_status[0][4] if table_status else 'Unable to fetch row count'
    print("\nApprox Row Count:", approx_row_count//100000/10, "M")

    first_5_rows = %sql SELECT * FROM `{table_name}` LIMIT 5;
    print(first_5_rows)

    indices = %sql SHOW INDEX FROM `{table_name}`;
    if indices:
        print("\nIndices:")
        for index in indices:
            print(f" - {index[2]} ({index[10]}): Column {index[4]}")
    else:
        print("\nNo indices set on this table.")

2) Please paste a link to your fynesse library below, and make sure it's publically accessible. Also run the code below, and make sure it worked, printing out the contents of your library.

In [ ]:
fynesse_url = '<your-url-library-here>'

In [ ]:
import fynesse
import os

print('FYNESSE STRUCTURE:')
package_path = os.path.dirname(fynesse.__file__)
for root, dirs, files in os.walk(package_path):
    level = root.replace(package_path, '').count(os.sep)
    indent = ' ' * 4 * level
    print(f"{indent}{os.path.basename(root)}/")
    sub_indent = ' ' * 4 * (level + 1)
    for f in files:
        print(f"{sub_indent}{f}")

print('FILE CONTENTS')
for root, dirs, files in os.walk(package_path):
    for file in files:
        file_path = os.path.join(root, file)
        print(f"--- Contents of {file_path} ---\n")
        try:
            with open(file_path, "r", encoding="utf-8") as f:
                print(f.read())
        except Exception as e:
            print(f"Could not read {file_path}: {e}")
        print("\n" + "-" * 50 + "\n")